
/* Insert everything related to Menu here */


/* Title Menu */

.navbar-brand {

  font-size: var(--menu-title-size);
  color: var(--secondary-color);
  text-decoration: var(--menu-title-hyperlink);

}

.navbar-brand:hover {

  color: var(--secondary-color);

}


/* Title links */

.navbar-nav .nav-link {

  color: var(--secondary-color);
  font-size: var(--menu-links-size);

}

.navbar-nav .nav-link:hover {

  color: var(--tertiary-color);
  text-shadow: 0 0 1px var(--tertiary-color);

}


/* Toggler icon */

.navbar-toggler-icon {

  color: var(--secondary-color);

}

.custom-toggler {

  border-color: var(--secondary-color);

}

.custom-toggler .navbar-toggler-icon {

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}
