
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- Acá estará todo el Template relacionado a la consola de un bot -->

    <h2 class="bt-title">Bot Console</h2>
        
    <div class="bt-console">
    
        <div id="output"></div>

    </div>

    <div class="bt-prompt">
        <label for="command">command</label> 
        <input id="command" type="text" name="command">
        <input id="sendcmd-btn" type="button" name="" value="Enviar">
    </div>


{% endblock %}

{% block custom_scripts %}

<!-- Librerías -->

<script type="text/javascript" src="{{ url_for('static', filename='/js/requests.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>

<script type="text/javascript">
    
    const URL_API_BASE = "/api/bot"

    const URL_API_BOT = URL_API_BASE + "/{{ bot.uuid }}"

    const URL_COMMAND = URL_API_BASE + "/{{ bot.uuid }}/command";

    const TIME_REFRESH = 500;

    const TIME_BEFORE_DELETE_BOT = 1000;

</script>

{% endblock %}