
<!-- Acá estará todo el Template relacionado a la consola de un bot -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bot console</title>
</head>
<body>

    command:
    <input id="command" type="" name="">
    <input id="sendcmd-btn" type="button" name="" value="Enviar">

    <div id="output"></div>

</body>

<!-- Librerías -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/requests.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>

<script type="text/javascript">
    
    const URL_API_BASE = "/api/bot"

    const URL_API_BOT = URL_API_BASE + "/{{ bot.uuid }}"

    const URL_COMMAND = URL_API_BASE + "/{{ bot.uuid }}/command";

    const TIME_REFRESH = 500;

    const TIME_BEFORE_DELETE_BOT = 500;

</script>

</html>